extends ../layout

block content
    h1 Books
    form.search-form(action='/books/search', method='post')
        input(type='search', name='term', id='term', placeholder='find a book...')
        input(type='submit', value='Search', id='search-button')

    div.sidebyside
        if search
            p
                a.button(href="/books") Go Home
        else
    
        p
            a.button(href="/books/new") Create New Book

    table
        thead
            tr
                th Title
                th Author   
                th Genre
                th Year
        tbody
            each book in books
                tr
                    td
                        a(href="/books/" + book.id) #{book.title}
                    td #{book.author}
                    td #{book.genre}
                    td #{book.year}
            else
                td No results found... try again



//-
//-
//- failed attempt at paginaiton, will return to conquer this one day
    //- ul.pagination
        script
            | console.log(#{offset})
            | var inc = (#{offset} + #{limit})
            | console.log(inc) 
            | const index = !{JSON.stringify(allBooks[1])}
            | console.log(index)

        - var list = Math.ceil(allBooks.length / limit)
        - for (var i = 0; i<list; i++)
            li
                //- if (i === 0)
                a(class='button',
                    class='active', 
                    href="#",
                    )= i+1
                //- else 
                    a(class='button', href="#")= i+1
        